<template>
  <div id="error-404" class="uc-message warning">
    <div v-if="loaded" class="uc-message_body">
      <div v-if="data.tagline" class="uc-subtitle">
        {{ data.tagline[0].text }}
      </div>
      <div class="h1 mb-24">
        {{ data.title[0].text }}
      </div>
      <section class="mb-32">
        <h4 class="mb-16">Te invitamos a seguir navegando por estos sitios:</h4>
        <a
          v-for="link in data.shortcuts"
          :key="link"
          :href="link.link.url"
          target="_blank"
          class="uc-btn btn-listed"
        >
          {{ link.title1[0].text }}
          <i class="uc-icon icon-size--sm">launch</i>
        </a>
      </section>
      <section>
        <h4 class="mb-24">Comunícate con nosotros</h4>
        <div class="row">
          <div class="col-md-4 mb-24">
            <div class="uc-subtitle mb-16">Mesa central</div>
            <a class="uc-h3" href="tel:+562 2354 4000">
              <svg
                class="mr-8"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20 16.6406C20 16.5625 20 16.4688 19.9688 16.3906C19.875 16.1094 17.5938 14.9531 17.1562 14.7031C16.8594 14.5312 16.5 14.1875 16.1406 14.1875C15.4531 14.1875 14.4375 16.2344 13.8281 16.2344C13.5156 16.2344 13.125 15.9531 12.8438 15.7969C10.7812 14.6406 9.35938 13.2188 8.20312 11.1562C8.04688 10.875 7.76562 10.4844 7.76562 10.1719C7.76562 9.5625 9.8125 8.54688 9.8125 7.85938C9.8125 7.5 9.46875 7.14062 9.29688 6.84375C9.04688 6.40625 7.89062 4.125 7.60938 4.03125C7.53125 4 7.4375 4 7.35938 4C6.95312 4 6.15625 4.1875 5.78125 4.34375C4.75 4.8125 4 6.78125 4 7.85938C4 8.90625 4.42188 9.85938 4.78125 10.8281C6.03125 14.25 9.75 17.9688 13.1719 19.2188C14.1406 19.5781 15.0938 20 16.1406 20C17.2188 20 19.1875 19.25 19.6562 18.2188C19.8125 17.8438 20 17.0469 20 16.6406ZM24 4.5V19.5C24 21.9844 21.9844 24 19.5 24H4.5C2.01562 24 0 21.9844 0 19.5V4.5C0 2.01562 2.01562 0 4.5 0H19.5C21.9844 0 24 2.01562 24 4.5Z"
                  fill="#0176DE"
                />
              </svg>
              +562 2354 4000
            </a>
          </div>
          <div class="col-lg-4">
            <div class="uc-subtitle mb-16">Redes sociales</div>
            <ul class="uc-social-icons">
              <li>
                <a href="https://twitter.com/ucatolica" target="_blank"
                  ><svg
                    width="23"
                    height="18"
                    viewBox="0 0 23 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M22.0536 2.89283C21.4643 3.74998 20.7277 4.51337 19.8839 5.12944C19.8973 5.31694 19.8973 5.50444 19.8973 5.69194C19.8973 11.4107 15.5446 18 7.58928 18C5.13838 18 2.86159 17.2902 0.946411 16.058C1.29463 16.0982 1.62945 16.1116 1.99106 16.1116C4.01338 16.1116 5.87499 15.4286 7.3616 14.2634C5.45981 14.2232 3.86606 12.9777 3.31695 11.2634C3.58481 11.3036 3.85266 11.3303 4.13391 11.3303C4.52231 11.3303 4.9107 11.2768 5.27231 11.183C3.29016 10.7812 1.80356 9.04016 1.80356 6.93748C1.80356 6.92409 1.80356 6.8973 1.80356 6.88391C2.37945 7.20534 3.04909 7.40623 3.75891 7.43302C2.59373 6.65623 1.83034 5.33034 1.83034 3.83033C1.83034 3.02676 2.04463 2.29015 2.41963 1.6473C4.54909 4.2723 7.74999 5.98659 11.3393 6.17409C11.2723 5.85266 11.2321 5.51784 11.2321 5.18301C11.2321 2.79908 13.1607 0.857117 15.558 0.857117C16.8036 0.857117 17.9286 1.37944 18.7188 2.22319C19.6964 2.03569 20.6339 1.67408 21.4643 1.17855C21.1429 2.18301 20.4598 3.02676 19.5625 3.56248C20.433 3.46873 21.2768 3.22766 22.0536 2.89283Z"
                      fill="#707070"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/ucatolica" target="_blank">
                  <svg
                    width="12"
                    height="23"
                    viewBox="0 0 12 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.9866 0.589273V4.12499H9.88392C8.2366 4.12499 7.92856 4.91517 7.92856 6.05357V8.58482H11.8527L11.3304 12.5491H7.92856V22.7143H3.83034V12.5491H0.415161V8.58482H3.83034V5.66517C3.83034 2.27677 5.90624 0.428558 8.93303 0.428558C10.3795 0.428558 11.625 0.535701 11.9866 0.589273Z"
                      fill="#707070"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/ucatolicaoficial/"
                  target="_blank"
                >
                  <svg
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.7151 10.2866C13.7151 8.39817 12.175 6.85799 10.2866 6.85799C8.39817 6.85799 6.85799 8.39817 6.85799 10.2866C6.85799 12.175 8.39817 13.7151 10.2866 13.7151C12.175 13.7151 13.7151 12.175 13.7151 10.2866ZM15.5634 10.2866C15.5634 13.2062 13.2062 15.5634 10.2866 15.5634C7.36692 15.5634 5.00977 13.2062 5.00977 10.2866C5.00977 7.36692 7.36692 5.00977 10.2866 5.00977C13.2062 5.00977 15.5634 7.36692 15.5634 10.2866ZM17.0098 4.79549C17.0098 5.47852 16.4607 6.02763 15.7776 6.02763C15.0946 6.02763 14.5455 5.47852 14.5455 4.79549C14.5455 4.11245 15.0946 3.56334 15.7776 3.56334C16.4607 3.56334 17.0098 4.11245 17.0098 4.79549ZM10.2866 1.84905C8.78656 1.84905 5.57227 1.72852 4.21959 2.26423C3.75084 2.45173 3.40263 2.67941 3.04102 3.04102C2.67941 3.40263 2.45173 3.75084 2.26423 4.21959C1.72852 5.57227 1.84905 8.78656 1.84905 10.2866C1.84905 11.7866 1.72852 15.0009 2.26423 16.3535C2.45173 16.8223 2.67941 17.1705 3.04102 17.5321C3.40263 17.8937 3.75084 18.1214 4.21959 18.3089C5.57227 18.8446 8.78656 18.7241 10.2866 18.7241C11.7866 18.7241 15.0009 18.8446 16.3535 18.3089C16.8223 18.1214 17.1705 17.8937 17.5321 17.5321C17.8937 17.1705 18.1214 16.8223 18.3089 16.3535C18.8446 15.0009 18.7241 11.7866 18.7241 10.2866C18.7241 8.78656 18.8446 5.57227 18.3089 4.21959C18.1214 3.75084 17.8937 3.40263 17.5321 3.04102C17.1705 2.67941 16.8223 2.45173 16.3535 2.26423C15.0009 1.72852 11.7866 1.84905 10.2866 1.84905ZM20.5723 10.2866C20.5723 11.7062 20.5857 13.1125 20.5053 14.5321C20.425 16.1794 20.05 17.6393 18.8446 18.8446C17.6393 20.05 16.1794 20.425 14.5321 20.5053C13.1125 20.5857 11.7062 20.5723 10.2866 20.5723C8.86692 20.5723 7.46067 20.5857 6.04102 20.5053C4.3937 20.425 2.93388 20.05 1.72852 18.8446C0.523159 17.6393 0.148159 16.1794 0.0678014 14.5321C-0.0125558 13.1125 0.000837054 11.7062 0.000837054 10.2866C0.000837054 8.86692 -0.0125558 7.46067 0.0678014 6.04102C0.148159 4.3937 0.523159 2.93388 1.72852 1.72852C2.93388 0.523159 4.3937 0.148159 6.04102 0.0678014C7.46067 -0.0125558 8.86692 0.000837054 10.2866 0.000837054C11.7062 0.000837054 13.1125 -0.0125558 14.5321 0.0678014C16.1794 0.148159 17.6393 0.523159 18.8446 1.72852C20.05 2.93388 20.425 4.3937 20.5053 6.04102C20.5857 7.46067 20.5723 8.86692 20.5723 10.2866Z"
                      fill="#707070"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCAfl9v22I3cD2SZB9z3kNMw"
                  target="_blank"
                  ><svg
                    width="24"
                    height="17"
                    viewBox="0 0 24 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M9.52245 11.5447L16.0046 8.19644L9.52245 4.80804V11.5447ZM12.0001 0C17.0492 0 20.3975 0.241072 20.3975 0.241072C20.8662 0.294643 21.8975 0.294643 22.8082 1.25893C22.8082 1.25893 23.5448 1.98215 23.7591 3.64286C24.0135 5.58483 24.0002 7.52679 24.0002 7.52679V9.34823C24.0002 9.34823 24.0135 11.2902 23.7591 13.2322C23.5448 14.8795 22.8082 15.6161 22.8082 15.6161C21.8975 16.567 20.8662 16.567 20.3975 16.6206C20.3975 16.6206 17.0492 16.875 12.0001 16.875C5.75906 16.8214 3.84388 16.6339 3.84388 16.6339C3.30816 16.5402 2.1028 16.567 1.19209 15.6161C1.19209 15.6161 0.455479 14.8795 0.241193 13.2322C-0.0132714 11.2902 0.000121478 9.34823 0.000121478 9.34823V7.52679C0.000121478 7.52679 -0.0132714 5.58483 0.241193 3.64286C0.455479 1.98215 1.19209 1.25893 1.19209 1.25893C2.1028 0.294643 3.13405 0.294643 3.6028 0.241072C3.6028 0.241072 6.95102 0 12.0001 0Z"
                      fill="#707070"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      loaded: false,
      data: {},
    };
  },
  async mounted() {
    const response = await axios.get(`https://uc-cms.prismic.io/api/v2/`);

    const { data } = await axios.get(
      `https://uc-cms.prismic.io/api/v2/documents/search?ref=${response.data.refs[0].ref}&q=%5B%5Bat(document.type,%22pagemaintenance%22)%5D%5D&lang=es-cl`
    );
    this.data = data.results[0].data;
    this.loaded = true;
  },
};
</script>